.sandbox-badge-container {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 163px;
  width: 167px;

  .sandbox-badge {
    position: absolute;
    z-index: 100;
    right: 0;
    font-family: 'Martel', serif;
    color: white;
    padding: 10px 126px 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    transform: rotateZ(45deg) translateX(107px) translateY(-89px);
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .sandbox-badge__btn {
      font-size: 12px;
      padding-bottom: 3px;
      white-space: nowrap;
    }
  }
}
