<div class="title-container">
  <h1 class="martel-font center-text">BETex</h1>
  <hr>
  <h1 class="predictions center-text">FIXTURES</h1>
</div>

<section class="container-fluid">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Prediction">
      <div class="table-wrapper">
        <betex-predictions-table (saveFixture)="saveFixture($event); openModal(addFixture)"
        ></betex-predictions-table>
      </div>
    </mat-tab>
    <mat-tab label="Analysis">
      <div class="table-wrapper">
        <betex-analysis-table></betex-analysis-table>
      </div>
    </mat-tab>
    <mat-tab label="Overview">
      <div class="table-wrapper">
        <betex-fixture-table></betex-fixture-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

<ng-template #addFixture>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Fixture</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <betex-tip
      [tip]="tip"
      [editMode]="false"
      [useResultFields]="false"
      [loading]="loading"
      [saveSuccess]="saveSuccess"
      (saveTip)="saveTip($event)"
    ></betex-tip>
  </div>
</ng-template>
