<div class="filter-wrapper">
  <div class="parameters-wrapper">
    <mat-form-field class="mat-param-70">
      <mat-label>Analysis Type</mat-label>
      <mat-select [(value)]="analysisType">
        <mat-option value="over15">Over 1.5</mat-option>
        <mat-option value="under15">Under 1.5</mat-option>
        <mat-option value="over25">Over 2.5</mat-option>
        <mat-option value="under25">Under 2.5</mat-option>
        <mat-option value="over35">Over 3.5</mat-option>
        <mat-option value="under35">Under 3.5</mat-option>
        <mat-option value="yesBts">Yes BTS</mat-option>
        <mat-option value="noBts">No BTS</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-param-50">
      <input type="number"
             placeholder="Min Odds"
             step="0.05"
             matInput
             [(ngModel)]="minOdds">
    </mat-form-field>

    <mat-form-field class="mat-param-50">
      <input type="number"
             placeholder="Max Odds"
             step="0.05"
             matInput
             [(ngModel)]="maxOdds">
    </mat-form-field>

    <input type="text" matInput
           class="form-control date-input date-param"
           placeholder="Select Date"
           ngxDaterangepickerMd
           [(ngModel)]="selected"
           [showCustomRangeLabel]="true"
           [showCancel]="true"
           [keepCalendarOpeningWithRange]="true"
           [showRangeLabelOnInput]="true"
           [alwaysShowCalendars]="true"
           [ranges]="ranges"
           [linkedCalendars]="true"
           [isCustomDate]=""
           [locale]="{format: 'DD/MM/YY'}"
    />

    <mat-form-field class="mat-param-50">
      <mat-label>Max H2H</mat-label>
      <mat-select [(value)]="lastH2H">
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-param-50">
      <mat-label>Home</mat-label>
      <mat-select [(value)]="lastHome">
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="11">11</mat-option>
        <mat-option value="12">12</mat-option>
        <mat-option value="13">13</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-param-50">
      <mat-label>Away</mat-label>
      <mat-select [(value)]="lastAway">
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="6">6</mat-option>
        <mat-option value="7">7</mat-option>
        <mat-option value="8">8</mat-option>
        <mat-option value="9">9</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="11">11</mat-option>
        <mat-option value="12">12</mat-option>
        <mat-option value="13">13</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-param-70" *ngIf="!isAnalysis">
      <mat-label>Odds</mat-label>
      <mat-select [(ngModel)]="gameOdds" (selectionChange)="onOddsChanged($event)">
        <mat-option value="over15">Over 1.5</mat-option>
        <mat-option value="under25">Under 1.5</mat-option>
        <mat-option value="over25">Over 2.5</mat-option>
        <mat-option value="under25">Under 2.5</mat-option>
        <mat-option value="over35">Over 3.5</mat-option>
        <mat-option value="under35">Under 3.5</mat-option>
        <mat-option value="yesBts">Yes BTS</mat-option>
        <mat-option value="noBts">No BTS</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="isAnalysis">
      <span class="vert-separator">|</span>

      <mat-form-field class="mat-param-70">
        <mat-label>Bet Type</mat-label>
        <mat-select [(value)]="betType">
          <mat-option value="over15">Over 1.5</mat-option>
          <mat-option value="under15">Under 1.5</mat-option>
          <mat-option value="over25">Over 2.5</mat-option>
          <mat-option value="under25">Under 2.5</mat-option>
          <mat-option value="over35">Over 3.5</mat-option>
          <mat-option value="under35">Under 3.5</mat-option>
          <mat-option value="yesBts">Yes BTS</mat-option>
          <mat-option value="noBts">No BTS</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mat-param-70">
        <input type="number"
               placeholder="Min Bet Odds"
               step="0.05"
               matInput
               [(ngModel)]="minBetOdds">
      </mat-form-field>

      <mat-form-field class="mat-param-70">
        <input type="number"
               placeholder="Max Bet Odds"
               step="0.05"
               matInput
               [(ngModel)]="maxBetOdds">
      </mat-form-field>
    </ng-container>

    <span class="vert-separator">|</span>

    <div class="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="customSpread"></mat-checkbox>

      <mat-form-field class="mat-param-50">
        <input type="number"
               placeholder="Min Spread"
               step="0.05"
               matInput
               [disabled]="!customSpread"
               [(ngModel)]="minSpread">
      </mat-form-field>

      <mat-form-field class="mat-param-50">
        <input type="number"
               placeholder="Max Spread"
               step="0.05"
               matInput
               [disabled]="!customSpread"
               [(ngModel)]="maxSpread">
      </mat-form-field>
    </div>

    <span class="vert-separator">|</span>

    <div class="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="useForebet"></mat-checkbox>

      <mat-form-field class="mat-param-50">
        <input type="number"
               placeholder="Min Forebet"
               matInput
               [disabled]="!useForebet"
               [(ngModel)]="minForebet">
      </mat-form-field>

      <mat-form-field class="mat-param-50">
        <input type="number"
               placeholder="Max Forebet"
               matInput
               [disabled]="!useForebet"
               [(ngModel)]="maxForebet">
      </mat-form-field>
    </div>
  </div>

  <button type="button" class="btn btn-dark apply" (click)="apply()">Apply</button>
</div>
