.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameters-wrapper {
  display: flex;
  align-items: center;
}

.mat-param-70 {
  width: 70px;
  margin: 10px 4px 0;
}

.mat-param-50 {
  width: 50px;
  margin: 10px 4px 0;
}

.date-param {
  margin: 0 12px;
  width: 114px;
  border: 1px solid silver;
}

.vert-separator {
  font-size: 24px;
  margin: 0 10px;
}

.checkbox-wrapper {
  display: flex;
  align-items: baseline;
}

.apply {
  height: fit-content;
}
