table {
  width: 100%;
}

.table-container {
  position: relative;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-40 {
  width: 40px;
}

.red {
  color: red
}

.margin-left-5 {
  margin-left: 5px;
}

.modal-body a {
  color: white
}

.filter-wrapper {
  padding: 10px 0;
}

.empty-state {
  text-align: center;
  padding: 45px 0;
}
