<div class="mat-elevation-z8 table-container">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <table mat-table [dataSource]="predictionDataSource" matSort>

    <!-- Spread Column -->
    <ng-container matColumnDef="spread">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spread</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.spread}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.eventDateTime | date:'d/M/yy':'UTC'}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="eventDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.eventDateTime | date:'H:mm':'UTC'}}</td>
    </ng-container>

    <!-- Home Column -->
    <ng-container matColumnDef="homeTeamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Home</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.homeTeamName}}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.score}}</td>
    </ng-container>

    <!-- Away Column -->
    <ng-container matColumnDef="awayTeamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Away</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.awayTeamName}}</td>
    </ng-container>

    <!-- League Column -->
    <ng-container matColumnDef="leagueName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.leagueName}}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="leagueCountry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.leagueCountry}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.status}}</td>
    </ng-container>

    <!-- Forebet Column -->
    <ng-container matColumnDef="forebetResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Forebet</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.forebetResult}}</td>
    </ng-container>

    <!-- Forebet TG Column -->
    <ng-container matColumnDef="forebetTotalGoals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FTG</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.forebetTotalGoals}}</td>
    </ng-container>

    <!-- Odds Column -->
    <ng-container matColumnDef="odds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Odds</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.odds}}</td>
    </ng-container>

    <!-- Add Column -->
    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Add</th>
      <td mat-cell *matCellDef="let fixture">
        <button mat-icon-button
                class="no-outline w-40"
                (click)="$event.stopPropagation(); addFixtureToTips(fixture);">
          <mat-icon>add</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- topHeader column -->
    <ng-container matColumnDef="topHeader">
      <th mat-header-cell *matHeaderCellDef colspan="13">
        <div class="filter-wrapper">
          <betex-analysis-filter
            [isAnalysis]="false"
            (oddsChanged)="oddsChanged($event)"
            (applyFilter)="applyFilter($event)"
          ></betex-analysis-filter>
        </div>
        <h1 *ngIf="emptyState" class="empty-state">
          No Stats Available!
        </h1>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['topHeader']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
