<div class="mat-elevation-z8 table-container">
  <div class="example-loading-shade" *ngIf="isLoading">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <table mat-table [dataSource]="analysisDataSource" matSort>

    <!-- Spread Column -->
    <ng-container matColumnDef="spread">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Spread</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.spread}}</td>
    </ng-container>

    <!-- Profit Column -->
    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profit</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.profit}}</td>
    </ng-container>

    <!-- Total Games Column -->
    <ng-container matColumnDef="totalGames">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.totalGames}}</td>
    </ng-container>

    <!-- Games Won Column -->
    <ng-container matColumnDef="gamesWon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Won</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.gamesWon}}</td>
    </ng-container>

    <!-- Games Lost Column -->
    <ng-container matColumnDef="gamesLost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lost</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.gamesLost}}</td>
    </ng-container>

    <!-- Win Rate Column -->
    <ng-container matColumnDef="winRate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Win Rate</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.winRate}}</td>
    </ng-container>

    <!-- ROI Column -->
    <ng-container matColumnDef="roi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ROI</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.roi}}</td>
    </ng-container>

    <!-- Average Odds Column -->
    <ng-container matColumnDef="averageOdds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Average Odd</th>
      <td mat-cell *matCellDef="let analysis">{{analysis.averageOdds?.toFixed(2)}}</td>
    </ng-container>

    <!-- topHeader column -->
    <ng-container matColumnDef="topHeader">
      <th mat-header-cell *matHeaderCellDef colspan="8">
        <div class="filter-wrapper">
          <betex-analysis-filter
            [isAnalysis]="true"
            (applyFilter)="applyFilter($event)"
          ></betex-analysis-filter>
        </div>
        <h1 *ngIf="emptyState" class="empty-state">
          No Stats Available!
        </h1>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['topHeader']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
