<div class="mat-elevation-z8 table-container">
  <div class="example-loading-shade" *ngIf="isLoadingFixtures">
    <mat-spinner *ngIf="isLoadingFixtures"></mat-spinner>
  </div>

  <table mat-table [dataSource]="fixturesDataSource" matSort>

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.eventDateTime | date:'d/M/yy':'UTC'}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="eventDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.eventDateTime | date:'H:mm':'UTC'}}</td>
    </ng-container>

    <!-- Home Column -->
    <ng-container matColumnDef="homeTeamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Home</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.homeTeamName}}</td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.score}}</td>
    </ng-container>

    <!-- Away Column -->
    <ng-container matColumnDef="awayTeamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Away</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.awayTeamName}}</td>
    </ng-container>

    <!-- League Column -->
    <ng-container matColumnDef="leagueName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>League</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.leagueName}}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="leagueCountry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.leagueCountry}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.status}}</td>
    </ng-container>

    <!-- Forebet Column -->
    <ng-container matColumnDef="forebetResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Forebet</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.forebetResult}}</td>
    </ng-container>

    <!-- Forebet TG Column -->
    <ng-container matColumnDef="forebetTotalGoals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>FTG</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.forebetTotalGoals}}</td>
    </ng-container>

    <!-- Odds Column -->
    <ng-container matColumnDef="odds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Odds</th>
      <td mat-cell *matCellDef="let fixture">{{fixture.odds}}</td>
    </ng-container>

    <!-- topHeader column -->
    <ng-container matColumnDef="topHeader">
      <th mat-header-cell *matHeaderCellDef colspan="11">
        <div class="header-wrapper">
          <div class="info-wrapper">
            <b>Total</b>: {{total}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <b>Not Started</b>: {{notStarted}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <b>Finished</b>: {{finished}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <b>Other</b>: {{other}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <b>Forebet</b>: {{forebet}}
          </div>

          <input type="text" matInput
                 class="form-control date-input date-param"
                 placeholder="Select Date"
                 ngxDaterangepickerMd
                 [(ngModel)]="selected"
                 [showCustomRangeLabel]="true"
                 [showCancel]="true"
                 [keepCalendarOpeningWithRange]="true"
                 [showRangeLabelOnInput]="true"
                 [alwaysShowCalendars]="true"
                 [ranges]="ranges"
                 [linkedCalendars]="true"
                 [isCustomDate]=""
                 [locale]="{format: 'DD/MM/YY'}"
          />

          <mat-form-field class="mat-param-70">
            <mat-label>Odds</mat-label>
            <mat-select [(value)]="odds" (selectionChange)="oddsChanged($event)">
              <mat-option value="over15">Over 1.5</mat-option>
              <mat-option value="under15">Under 1.5</mat-option>
              <mat-option value="over25">Over 2.5</mat-option>
              <mat-option value="under25">Under 2.5</mat-option>
              <mat-option value="over35">Over 3.5</mat-option>
              <mat-option value="under35">Under 3.5</mat-option>
              <mat-option value="yesBts">Yes BTS</mat-option>
              <mat-option value="noBts">No BTS</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" class="btn btn-dark apply" (click)="apply()">Apply</button>

          <button mat-icon-button
                  class="no-outline w-40"
                  [matMenuTriggerFor]="menu"
                  (click)="$event.stopPropagation();">
            <mat-icon [style.color]="'black'">more_vert</mat-icon>
          </button>
        </div>

        <h1 *ngIf="fixtures.length === 0" class="empty-state">
          No Fixtures Available!
        </h1>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['topHeader']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <button class="no-outline" mat-menu-item (click)="openModal(save)">
    Fetch Fixtures
  </button>
  <button class="no-outline" mat-menu-item (click)="openModal(update)">
    Update Fixtures
  </button>
  <button class="no-outline" mat-menu-item (click)="openModal(forebetRes)">
    Fetch Forebet
  </button>
  <button class="no-outline" mat-menu-item (click)="openModal(oddsRes)">
    Update Odds
  </button>
</mat-menu>

<ng-template #save>
  <div class="modal-body text-center">
    <p>Fetch Fixtures?</p>
    <a class="btn btn-danger" (click)="saveFixtures(); modalRef.hide();">Fetch</a>
    <a class="btn btn-primary margin-left-5" (click)="modalRef.hide();">Cancel</a>
  </div>
</ng-template>
<ng-template #update>
  <div class="modal-body text-center">
    <p>Update Fixtures?</p>
    <a class="btn btn-danger" (click)="updateFixtures(); modalRef.hide();">Update</a>
    <a class="btn btn-primary margin-left-5" (click)="modalRef.hide();">Cancel</a>
  </div>
</ng-template>
<ng-template #forebetRes>
  <div class="modal-body text-center">
    <p>Fetch Forebet Results?</p>
    <a class="btn btn-danger" (click)="updateForebet(); modalRef.hide();">Fetch</a>
    <a class="btn btn-primary margin-left-5" (click)="modalRef.hide()">Cancel</a>
  </div>
</ng-template>
<ng-template #oddsRes>
  <div class="modal-body text-center">
    <p>Update Odds?</p>
    <a class="btn btn-danger" (click)="updateOdds(); modalRef.hide();">Update</a>
    <a class="btn btn-primary margin-left-5" (click)="modalRef.hide()">Cancel</a>
  </div>
</ng-template>
