table {
  width: 100%;
}

.table-container {
  position: relative;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-40 {
  width: 40px;
}

.red {
  color: red
}

.margin-left-5 {
  margin-left: 5px;
}

.modal-body a {
  color: white
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-wrapper {
  color: black;
  font-size: 14px;
}

.mat-param-70 {
  width: 70px;
  margin: 10px 4px 0;
}

.date-param {
  margin: 0 12px;
  width: 114px;
  border: 1px solid silver;
}

.empty-state {
  text-align: center;
  padding: 45px 0;
}

.apply {
  height: fit-content;
}
